* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
}

html {
    scroll-behavior: smooth;
}


button {
    border: none;
    border-radius: .5rem;

    background-color: #6b4423;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out .3s;
}

button:hover {
    background-color: #8b5a2b;

}

.menu-items,
.workspace-items,
.contact-content {
    display: grid;
    max-width: 1104px;
    width: 100%;
}

.header-icon-coffee {
    color: #6b4423;
}

.site-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    width: 100%;
    height: 68px;

    background-color: #f2f2f2;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #6b4423;
}

.nav-list {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #3a3a3a;
}

main {
    margin-top: 4.25rem;
}

main .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1759668358660-0d06064f0f84?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjb2ZmZWUlMjBsYXB0b3AlMjB3b3Jrc3BhY2V8ZW58MXx8fHwxNzYyODM3MDM4fDA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    padding: 0 1rem
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;

    text-align: center;
    margin-bottom: 1.5rem
}

.hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center;
}

.btn-primary {
    width: 177px;
    height: 48px;

    font-size: 1.125rem;
}

.btn-primary:hover {
    background-color: #8b5a2b;
}

main .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fbf3e9;

    padding: 6rem 1.5rem;

}

.about-text {
    margin-bottom: 4rem;
    text-align: center;
    max-width: 750px;
}

.about-title {
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #3a3a3a;
}

.about-description {
    font-size: 1.125rem;
    line-height: 1.8;
    color: #6b6b6b;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.feature-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 320px;
}

.feature-icon-rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-color: #ece1d5;
}

.feature-icon,
.info-icon {
    font-size: 1.5rem;
    color: #6b4423;
}

.feature-title {
    font-weight: inherit;
    margin-bottom: .75rem;
    color: #3a3a3a;
}

.feature-text {
    color: #6b6b6b;
}

main .menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

    padding: 6rem 1.5rem;

}

.menu-header {
    text-align: center;
    margin-bottom: 4rem;
}

.menu-title {
    font-size: 2.5rem;
    color: #3a3a3a;
    margin-bottom: 1rem;
}

.menu-subtitle {
    font-size: 1.125rem;
    color: #6b6b6b;
}

.menu-items {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
}

.menu-item {
    width: 100%;
    border-radius: .875rem;
    cursor: pointer;
}

.image-wrapper {
    height: 250px;
    overflow: hidden;
    border-radius: .875rem .875rem 0 0;
}

.menu-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.4s ease;
}

.image-wrapper:hover .menu-image {
    transform: scale(1.1);
}

.menu-info {
    padding: 3rem 1.5rem 1.5rem;
    border-radius: 0 0 .875rem .875rem;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    height: 160px;

    transition: transform .4s ease;
}

.menu-info:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);

}

.menu-title-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;

    font-size: 1.125rem;
    font-weight: 600;
}


.menu-name {
    color: #3a3a3a;
}

.menu-price {
    color: #6b4423;
}

.menu-desc {
    font-size: .875rem;
    color: #6b6b6b;
}

main .workspace-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5e6d3;

    padding: 6rem 1.5rem 0;
}

.workspace-header {
    text-align: center;
}

.workspace-title {
    font-size: 2.5rem;
    color: #3a3a3a;
    margin-bottom: 1rem;
}

.workspace-subtitle {
    font-size: 1.125rem;
    color: #6b6b6b;
}

.workspace-items {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
}

.image-wrapper.workspace {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.workspace-image {
    border-radius: .875rem;
    width: 100%;
    height: 50%;
    object-fit: cover;

    transition: transform 0.4s ease;
}

main .contact-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

    padding: 6rem 1.5rem;

}


.contact-header {
    text-align: center;
    margin-bottom: 4rem;
}

.contact-title {
    font-size: 2.5rem;
    color: #3a3a3a;
    margin-bottom: 1rem;
}

.contact-subtitle {
    font-size: 1.125rem;
    color: #6b6b6b;
}


.contact-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
}

.contact-info {
    display: grid;
    gap: 2rem;
}

.info-card {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: .875rem;
    border: 1px solid #d7d7d7;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.info-card.map-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 297px;
    background-color: #e8d5c4;
    border: none;
}

.map-card .info-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info-icon-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    border-radius: .625rem;
    background-color: #f0ece9;
}

.info-text {
    display: grid;
    gap: .5rem;
}

.info-title {

    font-size: 1rem;
    font-weight: inherit;
    color: #3a3a3a;
    margin-bottom: .5rem;
}

.info-title.map {
    margin: 0;
}

.info-row {
    display: flex;
    gap: .5rem;
}

.info-line,
.small-icon {
    font-size: 1rem;
    color: #6b6b6b;
}

.contact-form-wrapper {
    width: 100%;
    border-radius: .875rem;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    color: #3a3a3a;
}

.contact-form {
    padding: 2rem;
    display: grid;
    gap: 1.5rem;
}

.form-title {
    font-size: 1rem;
    margin-bottom: 3rem;
}

.form-input {
    border: none;
    height: 36px;
    padding-left: 1rem;
    border-radius: .5rem;
}

.form-input:focus,
.form-textarea:focus {
    border-color: #6b4423;
    box-shadow: 0 0 0 3px rgba(139, 69, 19, 0.35);
    outline: none;

}

.form-textarea {
    border: none;
    border-radius: .5rem;
    width: 100%;
    height: 64px;
    resize: none;
    padding: .5rem 0 .5rem .75rem;
}

.form-button {
    width: 100%;
    height: 36px;
    font-size: 1rem;

}

.site-footer {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 3rem 0;

    background-color: #2c2c2c;
}

.footer-content {
    padding: 0 1.5rem;

    max-width: 1104px;
    width: 100%;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    border-bottom: .25px solid #fff9;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

}

.footer-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.footer-icon-coffee {
    color: #fff;
}

.footer-brand-name {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
}

.footer-title {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

.footer-brand-description {
    font-size: .875rem;
    color: #ffffffb3;
    margin-top: 1rem;
}

.footer-social-icons {
    display: flex;
    gap: 1rem;
}

.footer-links {
    display: grid;
    gap: .5rem;
}

.footer-link,
.footer-copy {
    color: #ffffffb3;
    font-size: .875rem;
}

.social-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #424242;
}

.fa-brands {
    color: #fff;
}

.footer-copy {
    text-align: center;
}

@media (max-width: 1024px) {
    .menu-items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}


@media (max-width: 767px) {
    .nav-list {
        display: none;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .about-title,
    .menu-title,
    .workspace-title,
    .contact-title {
        font-size: 2rem;
    }

    .menu-items,
    .workspace-items,
    .contact-content {
        grid-template-columns: 1fr;
    }

    main .workspace-section {

        padding-bottom: 6rem;

    }

    .workspace-header {
        margin-bottom: 4rem;
    }

    .image-wrapper {
        height: 250px;

    }

    .image-wrapper.workspace {

        height: 264px;

    }

    .workspace-image {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

}
